<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <div class="sidebar">
      <h1>realjame</h1>
      <nav class="sidebar-bg sidebar-nav">{{ partial "sidebar-nav.html" .
        }}</nav>
      {{ if and (not .IsSection) (or (eq .Section "notes") (eq .Section
      "blog")
      (eq .Section "bookmarks")) }}
      <div class="sidebar-bg">{{ partial "sidebar-tags.html" . }}</div>
      <div class="sidebar-bg sidebar-toc">{{ partial "sidebar-toc.html" .
        }}</div>
      {{ end }}
    </div>
    <main id="main">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>

</html>