<a href="/"><img src="/resources/silk/house.png" height="16" width="16"
		alt>Home</a>

<a href="/blog"><img src="/resources/feedicons-color/01.png" height="16"
		width="16" alt>Blog</a>

<a href="/bookmarks"><img src="/resources/silk/tag_blue.png" height="16"
		width="16" alt>Bookmarks</a>

<a href="/notes"><img src="/resources/feedicons-color/16.png" height="16"
		width="16" alt>Notes</a>

{{/* <a href="/projects"><img src="/resources/silk/bricks.png" height="16"
		width="16" alt>Projects</a> */}}

<a href="/info"><img src="/resources/silk/vcard.png" height="16" width="16"
		alt>Info</a>
<hr>

<b class="sidebar-category">
	<img src="/resources/silk/page_white_go.png" height="16" width="16" alt>
	Projects
</b>
<a href="/projects/bloxparty"><img src="/resources/silk/brick.png"
		height="16" width="16" alt>Blox Party</a>
<a href="https://wiki.realja.me"><img src="/resources/main/rbxlegacydocs.png"
		height="16" width="16" alt>Legacy
	Roblox
	Wiki</a>
<a href="https://lua.realja.me"><img src="/resources/main/lua.png" height="16"
		width="16" alt>Lua
	minifier</a>
<hr>
<p>
	<b>
		<a href="https://realja.me"><img src="/resources/silk/star.png" height="16"
				width="16" alt>Modern Site</a>
	</b>
	<i>
		<a href="/blog/simple-layout.html">(why a simple layout?)</a>
	</i>
</p>
