// @font-face {
// 	font-family: REM;
// 	src: url(/resources/fonts/REM/REM-VariableFont_wght.ttf);
// }

:root {
	color-scheme: dark;
	--dragonfly-blue: #d0e1ee;
	--dragonfly-turquoise: #26645b;

	a {
		transition: all 30ms;
	}

	a:hover {
		color: var(--dragonfly-blue);
		background-color: var(--dragonfly-turquoise);
	}

	img[height="16"][width="16"] {
		image-rendering: pixelated;
	}
}

body {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	margin: 2% 2%;
	background-image: url(/resources/misc/starry-night512.gif);
}

.highlight pre {
	border-radius: 5px;
	padding: 1em;
	border: solid var(--dragonfly-blue) 1px;
	overflow: auto;
}


.container {
	display: flex;

	@media screen and (max-width: 1200px) {
		flex-direction: column;

		// Make the right panels appear at the top of the screen below the left panels,
		// rather than below the page content.
		:nth-child(1) {
			order: 1;
		}

		:nth-child(2) {
			order: 3;
		}

		:nth-child(3) {
			order: 2;
		}
	}
}

.mobile-scrollto {
	width: 100%;
	text-align: center;

	@media screen and (min-width: 1200px) {
		display: none;
	}
}

.sidebar {
	float: left;
	width: 19%;
	// margin-bottom: 1em;

	overflow-wrap: break-word;
	hyphens: auto;

	h1,
	h2 {
		text-align: center;
	}

	@media screen and (max-width: 1200px) {
		float: unset;
		width: auto;

		&:last-of-type .sticky {
			display: flex;
			gap: 1em;

			.sidebar-toc {
				flex: 1;
			}
		}
	}
}

.sticky {
	position: sticky;
	top: 5%;

	@media screen and (max-width: 1200px) {
		position: unset;
	}
}

.sidebar-bg {
	background-color: rgba(34, 34, 34, 0.5);
	border: 2px solid var(--dragonfly-blue);
	border-radius: 15px;
	padding: 1em 10px;
	margin-bottom: 1em;

	@media (prefers-color-scheme: light) {}
}

.sidebar-nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 5px 1em;
			border: 1px solid transparent;

			&:hover {
				border: 1px solid var(--dragonfly-blue);
				// background-color: var(--dragonfly-turquoise);
				box-shadow: 0px 0px 15px var(--dragonfly-turquoise) inset;
				border-radius: 5px;

				a {
					color: var(--dragonfly-blue);
					background-color: initial;
				}
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

				img {
					margin-right: 0.5em;
				}
			}
		}
	}

	hr {
		padding: 0;
	}
}

.sidebar-toc {
	max-height: 60vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar-toc:has(> nav:empty) {
	display: none;
}

main,
footer,
nav {
	font-size: 18px;
}

main {
	float: left;
	line-height: 1.2;
	width: 60%;
	margin-left: 2%;
	margin-right: 2%;
	padding: 1vw 4vw;

	figure {
		text-align: center;
	}

	img {
		max-width: 100%;
	}

	@media screen and (max-width: 1200px) {
		float: unset;
		width: unset;
		padding: unset;
		max-width: 80ch;
	}
}

footer {
	text-align: center;
}

// .postindex-item {
// 	border: solid #222 5px;
// 	padding: 2px;
// 	margin-bottom: 1em;
// }

.postindex-header {
	// font-family: Verdana;
	// font-weight: 600;
	margin-bottom: 8px;
	font-size: 1.25em;
}

.postindex div {
	margin: 0;
}