<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sticky">
          <h1>realjame</h1>
          <p class="mobile-scrollto"><a href="#main">Scroll to page
              content</a></p>
          <nav class="sidebar-bg sidebar-nav">{{ partial "sidebar-nav.html" .
            }}</nav>
          <div class="sidebar-bg">{{ partial "sidebar-88x31s.html" .
            }}</div>
        </div>
      </div>
      <main id="main">
        {{ block "main" . }}{{ end }}
        {{/* awful but its so the sidebar doesnt create blank space between the
        end of content & footer */}}
        <br>
        <footer>
          {{ partial "footer.html" . }}
        </footer>
      </main>
      <div class="sidebar">
        <div class="sticky">
          {{partial "right-sidebar.html" . }}
        </div>
      </div>
    </div>
  </body>

</html>