<p>
	<a href="mailto:james@realja.me">
		<img alt src="/resources/silk/email.png"> james@realja.me
	</a>
	<a rel="me" href="https://bsky.app/profile/realja.me">
		<img alt src="/resources/main/bluesky.png">
		@realja.me
	</a>
	<a rel="me" href="https://wetdry.world/@jame">
		<img alt src="/resources/main/mastodon.png">
		@jame@wetdry.world
	</a>
</p>
<p>
	<a href="/"><img src="/realjame.gif"
			alt="my 88x31 button!"></a>
</p>
<div>
	<pre class="footer-ascii" aria-hidden="true">          
                  ()I()                  
             "==.__:-:__.=="             
            "==.__/~|~\__.=="            
            "==._(  Y  )_.=="            
 .-'~~""~=--...,__\/|\/__,...--=~""~~'-. 
(               ..=\=/=..               )
 `'-.        ,.-"`;/=\ ;"-.,_        .-'`
     `~"-=-~` .-~` |=| `~-. `~-=-"~`     
          .-~`    /|=|\    `~-.          
       .~`       / |=| \       `~.       
   .-~`        .'  |=|  `.        `~-.   
 (`     _,.-="`    |=|    `"=-.,_     `) 
  `~"~"`           |=|           `"~"~`  
                   |=|                   
                   |=|                   
                   |=|                   
                   /=\                   
                   \=/                   
                    ^                    
	</pre>
</div>