<p>
	<a href="mailto:james@realja.me">
		<img alt src="/resources/silk/email.png"> james@realja.me
	</a>
	<a rel="me" href="https://wetdry.world/@jame">
		<img alt src="/resources/main/mastodon.png">
		@jame@wetdry.world
	</a>
</p>
<p>
	<a href="https://nick64.me"><img src="/resources/buttons/nick64.gif"
			alt="Nick64 my bestie"></a>
	<a href="https://corru.observer"><img
			src="/resources/buttons/corruobserver.gif"
			alt="corru.observer one of my favorite games, worldbuilding, story, websites, and more ever"></a>
	<a href="https://dreampipe.net"><img src="/resources/buttons/dreamcast.gif"
			alt="i love you Sega Dreamcast <3"></a>
	<a href="/"><img src="/realjame.gif"
			alt="oh... it's my website!"></a>
</p>