{{ if or (eq .Section "notes") (eq .Section "blog") (eq .Section "bookmarks") }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
{{ $categoryDisplayName := index site.Data.taxonomy.category_display_names
.Section }}
<div>
	{{/* TODO: make this a link to tags? */}}
	<i>{{ range .Params.tags }}{{ $tagIcon := index site.Data.taxonomy.tagicons .
		}}<img alt src="{{$tagIcon}}">{{.}}
		{{ end }}</i>
	<span>· {{$categoryDisplayName}} · <time datetime="{{ $dateMachine }}">{{
			$dateHuman
			}}</time> · {{ .WordCount }} words</span>
</div>
{{end}}