<b class="sidebar-category">
	<img src="/resources/silk/folder_heart.png" height="16" width="16" alt>
	Friends
</b>
<p>
	<a href="https://nick64.me"><img src="/resources/buttons/nick64.gif"
			alt="nick64"></a>
	<a href="https://jamesg.blog"><img src="/resources/buttons/jamesg.png"
			alt="James' Coffee Blog"></a>
	<a href="https://drakonic.zone"><img src="/resources/buttons/drakonic.gif"
			alt="Drakonic"></a>
	<a href="https://authenyo.xyz"><img src="/resources/buttons/authen.gif"
			alt="authenyo"></a>
	<a href="https://unnick.mice.tel"><img src="/resources/buttons/unnick.png"
			alt="unnick"></a>
	<a href="https://sneexy.pages.gay"><img src="/resources/buttons/sneexy.png"
			alt="sneexy"></a>
	<a href="https://g.pages.gay"><img src="/resources/buttons/grayair.png"
			alt="grayair"></a>
	<a href="https://redcatho.de"><img src="/resources/buttons/redcathode.png"
			alt="redcathode"></a>
	<a href="https://bitl.dev/"><img src="/resources/buttons/bitl.gif"
			alt="Bitl"></a>
</p>
<hr>
<b class="sidebar-category">
	<img src="/resources/silk/folder_star.png" height="16" width="16" alt>
	Other cool sites
</b>
<p>
	<a href="https://ashiecorner.xyz"><img src="/resources/buttons/ashiecorner.gif"
			alt="ashie corner!"></a>
	<a href="https://zencorner.xyz"><img src="/resources/buttons/zencorner.gif"
			alt="zen corner!"></a>
	<a href="https://corru.observer"><img
			src="/resources/buttons/corruobserver.gif"
			alt="corru.observer one of my favorite games, worldbuilding, story, websites, and more ever"></a>
	<a href="https://maia.crimew.gay"><img
			src="/resources/buttons/maiacrimewgay.png"
			alt="maia arson crimew"></a>
	<a href="https://neocities.org"><img
			src="/resources/buttons/neocities.gif"
			alt="neocities"></a>
	<a href="https://wiby.me"><img
			src="/resources/buttons/wiby.gif"
			alt="wiby.me"></a>
	<a href="https://freeplay.floof.company"><img
			src="/resources/buttons/free.gif"
			alt="freeplay"></a>
	<a href="https://dimden.dev"><img
			src="/resources/buttons/dimden.gif"
			alt="dimden"></a>
	<a href="https://soatok.blog"><img
			src="/resources/buttons/soatok.jpg"
			alt="soatok's blog - Dhole Moments"></a>
	<a href="https://kero.gay"><img
			src="/resources/buttons/kerogay.png"
			alt="kero.gay"></a>
	<a href="https://sizeof.cat"><img
			src="/resources/buttons/sizeofcat.jpg"
			alt="sizeof.cat"></a>
</p>
<hr>
<b class="sidebar-category">
	<img src="/resources/silk/folder_bug.png" height="16" width="16" alt>
	Misc.
</b>
<p>
	<a href="https://dreampipe.net"><img src="/resources/buttons/dreamcast.gif"
			alt="Sega Dreamcast"></a>
	<a href="https://fedoraproject.org/"><img src="/resources/buttons/fedora.png"
			alt="Powered by Fedora!"></a>
	<img src="/resources/buttons/amongskate.gif">
	<a href="/resources/misc/drpepper.png"><img
			src="/resources/buttons/drpepper.gif" alt="Powered by Dr. Pepper!"></a>
	<a
		href="https://myrient.erista.me/files/Redump/Nintendo%20-%20Wii%20-%20NKit%20RVZ%20[zstd-19-128k]/"><img
			src="/resources/buttons/wii.png" alt="Nintendo Wii"></a>
	{{/* <img src="/resources/buttons/gay.png"
		alt="i'm gay lol"> */}}
</p>