<ul>
	<li>
		<a href="/"><img src="/resources/silk/house.png" height="16" width="16"
				alt>Home</a>
	</li>
	<li>
		<a href="/blog"><img src="/resources/feedicons-color/01.png" height="16"
				width="16" alt>Blog</a>
	</li>
	<li>
		<a href="/bookmarks"><img src="/resources/silk/tag_blue.png" height="16"
				width="16" alt>Bookmarks</a>
	</li>
	<li>
		<a href="/notes"><img src="/resources/feedicons-color/16.png" height="16"
				width="16" alt>Daily Notes</a>
	</li>
	{{/* <li>
		<a href="/projects"><img src="/resources/silk/bricks.png" height="16"
				width="16" alt>Projects</a>
	</li> */}}
	<li>
		<a href="/info"><img src="/resources/silk/vcard.png" height="16" width="16"
				alt>Info</a>
	</li>
</ul>
<hr>
<b class="sidebar-category">
	<img src="/resources/silk/page_white_go.png" height="16" width="16" alt>
	Projects
</b>
<ul>
	<li>
		<a href="/projects/bloxparty"><img src="/resources/silk/brick.png"
				height="16" width="16"
				alt>Blox Party</a>
	</li>
	<li>
		<a href="https://wiki.realja.me"><img src="/resources/main/rbxlegacydocs.png"
				height="16" width="16"
				alt>Legacy
			Roblox
			Wiki</a>
	</li>
	<li>
		<a href="https://lua.realja.me"><img src="/resources/main/lua.png" height="16"
				width="16" alt>Lua
			minifier</a>
	</li>
</ul>
<hr>
<p>
	{{.Site.Params.theme}}
	{{ if eq .Site.Params.currenttheme "main" }}
	<b>
		<a href="https://simple.realja.me"><img src="/resources/silk/star.png"
				height="16"
				width="16" alt>Simple Site for old browsers</a>
	</b>
	{{ else }}
	<b>
		<a href="https://realja.me"><img src="/resources/silk/star.png" height="16"
				width="16" alt>Modern Site</a>
	</b>
	{{ end }}

	<i>
		<a href="/blog/simple-layout/">(why?)</a>
	</i>
</p>