.sidebar {
	float: left;
	width: 200px;
	margin: 20px;
	padding: 10px;
	border: solid;
}

main {
	max-width: 650px;
	margin: 40px auto;
	line-height: 1.4;
	font-size: 16px;
}

footer {
	clear: both;
	text-align: center;
}