<p>
	<a href="https://ashiecorner.xyz"><img src="/resources/buttons/ashiecorner.gif"
			alt="ashie corner!"></a>
	<a href="https://zencorner.xyz"><img src="/resources/buttons/zencorner.gif"
			alt="zen corner!"></a>
	<a href="https://jamesg.blog"><img src="/resources/buttons/jamesg.png"
			alt="James' Coffee Blog, oh that's oomf!"></a>
	<a href="https://authenyo.xyz"><img src="/resources/buttons/authen.gif"
			alt="authenyo :3"></a>
	<a href="https://freeplay.xyz"><img src="/resources/buttons/authen.gif"
			alt="freeplay :3"></a>
	<a href="https://unnick.mice.tel"><img src="/resources/buttons/unnick.gif"
			alt="unnick :3"></a>
	<a href="https://sneexy.pages.gay"><img src="/resources/buttons/sneexy.gif"
			alt="sneexy :3"></a>
	<a href="https://sneexy.pages.gay"><img src="/resources/buttons/unnick.gif"
			alt="sneexy :3"></a>
	<a href="g.pages.gay"><img src="/resources/buttons/grayair.png"
			alt="grayair :3"></a>
</p>