<p>
	<a href="https://ashiecorner.xyz"><img src="/resources/buttons/ashiecorner.gif"
			alt="ashie corner!"></a>
	<a href="https://zencorner.xyz"><img src="/resources/buttons/zencorner.gif"
			alt="zen corner!"></a>
	<a href="https://jamesg.blog"><img src="/resources/buttons/jamesg.png"
			alt="James' Coffee Blog :D"></a>
	<a href="https://authenyo.xyz"><img src="/resources/buttons/authen.gif"
			alt="authenyo"></a>
	<a href="https://unnick.mice.tel"><img src="/resources/buttons/unnick.png"
			alt="unnick"></a>
	<a href="https://sneexy.pages.gay"><img src="/resources/buttons/sneexy.png"
			alt="sneexy"></a>
	<a href="https://g.pages.gay"><img src="/resources/buttons/grayair.png"
			alt="grayair"></a>
	<a href="https://redcatho.de"><img src="/resources/buttons/redcathode.png"
			alt="redcathode"></a>
	<a href="https://skibidi.sex"><img src="/resources/buttons/skibidi.gif"
			alt="skibidi.sex"></a>
	<a href="https://nick64.me"><img src="/resources/buttons/nick64.gif"
			alt="nick64"></a>
</p>