<h1>{{ site.Title }}</h1>
<ul>
	<li>
		<a href="/"><img src="/icons/silk/house.png" height="16" width="16" alt="">Home</a>
	</li>
	<li>
		<a href="/blog"><img src="/icons/feedicons-color/01.png" height="16" width="16" alt="">Blog</a>
	</li>
	<li>
		<a href="/note"><img src="/icons/feedicons-color/16.png" height="16" width="16" alt="">Daily Notes</a>
	</li>
	<li>
		<a href="/devlog"><img src="/icons/feedicons-color/25.png" height="16" width="16" alt="">Devlogs</a>
	</li>
	<li>
		<a href="/projects"><img src="/icons/silk/bricks.png" height="16" width="16" alt="">Projects</a>
	</li>
	<li>
		<a href="/contact"><img src="/icons/silk/vcard.png" height="16" width="16" alt="">About + Contact</a>
	</li>
</ul>
<hr>
<b class="sidebar-category">
	<img src="/icons/silk/page_white_go.png" height="16" width="16" alt="">
	External Links
</b>
<ul>
	<li>
		<a href="https://wiki.realja.me"><img src="/icons/rbxlegacydocs.png" height="16" width="16" alt="">RBXLegacy
			Docs</a>
	</li>
	<li>
		<a href="https://textarea.site"><img src="/icons/textarea.png" height="16" width="16" alt="">textarea.site</a>
	</li>
	<li>
		<a href="https://lua.realja.me"><img src="/icons/lua.png" height="16" width="16" alt="">Lua minifier</a>
	</li>
</ul>
<hr>
<p>
	<b>
		<a href="https://realja.me"><img src="/icons/silk/star.png" height="16" width="16" alt="">Modern Site</a>
	</b>
	<i>
		<a href="/blog/simple-layout.html">(why a simple layout?)</a>
	</i>
</p>